
/* Typography */

html {
	font-family: 'Roboto', sans-serif;
}


@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 3em;
}

/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

main > .intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 1.5em;
	font-weight: 100;
	
}

main > .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
	
}

.icons-social i {
	padding: 10px;
}

.icons-social a {
  text-decoration: none;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;;
	width: 2.65rem;
	height: 2.65rem;
}

body{background-color:#87CEFA;font-family: 'Quicksand', sans-serif;padding: 25px} a{text-decoration:none;}
body::before{content:"\00A9  linkr.bio/rayyarr";color:white;opacity:.3;font-size:5px;position:absolute;bottom:25px;left:calc(50vw - 30px);}
#bodyblur{display:block;position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.3);z-index:-1;transition:all 1s ease;}
@keyframes jj{0%  {opacity:.5} 50% {opacity:.52} 100% {opacity:.5}}
#bodyblur img{animation-name:jj;animation-duration: 3s;animation-iteration-count: infinite;}

@keyframes leaves {0% {transform: scale(1.0);} 100% {transform: scale(.8);}}
#lope, .lopdeg{animation: leaves 1s ease-in-out infinite alternate;-webkit-animation: leaves 1s ease-in-out infinite alternate;}
.lovein:hover{transform: scale(1.3);}

@keyframes kont{0%  {left:-1px; top:-3px;} 50% {left:1px; top:3px;} 100% {left:-1px; top:-3px;}}
blockquote{position:relative;opacity:.8;margin-left:0;margin-right:0;}
blockquote{width:400px;color:#fff;font-size:15px;font-weight:700;text-align:center;padding:30px 20px 30px 20px;border: 1px dashed #fff;border-radius:10px;}
blockquote p:first-child{font-size:18px;}

.lovein{font-size:50px;display:flex;align-items:center;justify-content:center;transition:all .3s ease;}
.lovein svg{width:80px;height:80px;fill:#fefefe}

.content2{display:block;text-align:center;width:100%;height:180px;margin-top:50px;}
.content2 > *{display:flex;align-items:center;justify-content:center;margin-top:15px;font-size:17px;color:white}
.image img{border-radius:10%;transition:all .5s ease;}.foto img:first-child{z-index:1}

.content2{display:none;}
#Content{animation-name:none;animation-duration: 3s;animation-iteration-count: infinite;position:relative;opacity:0;margin-top:50px;width:100%;height:180px;transition:all .3s ease;}
#Content > *{display:flex;align-items:center;justify-content:center;margin-top:15px;font-size:17px;color:white}

.swal2-title{margin-right:20px;margin-left:20px;font-size:18px;text-align:center;padding:15px 30px 0 30px;}
.swal2-modal{background:rgba(255, 255, 255, .99);border: .7px solid #000;border-radius:18px;top:-60px;}
